
@{
    ViewBag.Title = "sendEncryptedData";
}

<h2>sendEncryptedData</h2>

@using (Html.BeginForm("LookAtUser", "Receiver", FormMethod.Post))
{
    
    @Html.TextBox("data", (string)ViewBag.Json)
    //@Html.TextBox("BBtb6h9ojMDvaw1F2CYRXQ==", "8q9gYtBd4UTfI6AhTrOZFg==")
    //@Html.TextBox("foo")
    <button type="submit">GO</button>
}


<a href="#" onclick="json()">JSON</a>
<br />
<a href="#" onclick="webapipost()">web api post</a>
<br />
<a href="#" onclick="stressTest()">stresstest</a>

<pre id="pre"></pre>

<br /><br />
<a href="/hide/@((string)ViewBag.Controller)/@((string)ViewBag.Action)">Secret link</a>

<script>
    function json() {
        $.ajax({
            url: "@Url.Action("LookAtUser", "Receiver")/",
            data: { data: "@((string)ViewBag.Json)" },
            type: "POST"
        }).done(function (result) {
            console.log(result);
        });
    }

    function webapipost() {
        $.ajax({
            url: "/api/Users/1/",
            data: { data: "@((string)ViewBag.Json)" },
            type: "POST"
        }).done(function (result) {
            console.log(result);
        });
    }

    function stressTest() {
        $.ajax({
            url: "@Url.Action("StressTest", "Receiver")",
            data: { data: "@((string)ViewBag.Json)" },
            type: "POST"
        }).done(function (result) {
            console.log(result);
        });
    }
</script>