@*<script src="~/Scripts/compresjson_scripts/base64-string.js"></script>
<script src="~/Scripts/compresjson_scripts/lz-string.js"></script>
<script src="~/Scripts/compresjson_scripts/Base64.js"></script>
<script src="~/Scripts/compresjson_scripts/Compressor.js"></script>*@

<style>
    .progress {
        height: 4px;
    }
</style>

@System.Web.Optimization.Scripts.Render("~/Scripts/compresjson")

@{
    ViewBag.Title = "Index";

    List<SpeedTest> tests = new List<SpeedTest>();
    
    var takes = new List<int>() {
        1, 2, 5, 10, 20, 40, 80, 160, 240, 480
    };
}

<h2>Index</h2>

<hr />
<h5>Encrypted URL Web API Route</h5>
<a href="/apih@(Url.Action(CompresJSONRouteManager.EncryptSecretUrlComponent("5"), CompresJSONRouteManager.EncryptSecretUrlComponent("CardDesignItems")))">/apih@(Url.Action(CompresJSONRouteManager.EncryptSecretUrlComponent("5"), CompresJSONRouteManager.EncryptSecretUrlComponent("CardDesignItems")))</a>
<hr />

<p id="1"></p>

Settings: <br />
<b>Compressed:</b> @CompresJSONSettings.shouldCompress.ToString() | <b>Method:</b> @CompresJSONSettings.compressionMethod.ToString() | <b>Encrypted:</b> @CompresJSONSettings.shouldEncrypt.ToString()<br />

<table class="table table-bordered" style="max-width: 650px;">
    <caption></caption>
    <thead>
        <tr>
            <td>func</td>
            <td>Unprocessed</td>
            <td>Processed</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var take in takes)
        {
            <tr>
                <td>
                    Get @take items (20 requests) <br />
                    <b><span id="loading-@take"></span></b>
                    <div style="display:none;" class="progress" id="progress-@take">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="sr-only">0% Complete (success)</span>
                        </div>
                    </div>
                </td>

                <td style="width:200px;">
                    <a onclick="fireUnencrypted(@take)" class="btn btn-primary btn-block">Normal</a>
                    <div id="unenc-@take">
                        <p class="time"></p>
                        <p class="bytes"></p>
                    </div>
                </td>
                <td style="width:200px;">
                    <a onclick="fireEncrypted(@take)" class="btn btn-success btn-block">Processed</a>
                    <div id="enc-@take">
                        <p class="time"></p>
                        <p class="bytes"></p>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    var UnencryptedResultTime = {};
    var EncryptedResultTime = {};
    var requestIsActive = false

    function getManyItemsUnencrypted(take, i, total) {

        $('#loading-' + take).text('request ' + (i + 1) + ' of ' + total)
        $('#progress-' + take).show();

        var startTime = new Date().getTime();
        var xhr = $.ajax({
            url: "@Url.Action("GetItemsUnencrypted", "SpeedTests")",
            data: { take: take },
            type: "POST",
            //async: false
        }).done(function (result) {

            var elapsed = (new Date().getTime() - startTime) ;
            UnencryptedResultTime[take].push(elapsed);
            //console.log(elapsed);

            //sum
            var sum = 0;
            for (var i = 0; i < UnencryptedResultTime[take].length; i++) {
                sum += parseInt(UnencryptedResultTime[take][i]); //don't forget to add the base
            }

            var sum = sum / UnencryptedResultTime[take].length;

            $('#unenc-' + take).children('.time').text('avg: ' + (sum / 1000).toFixed(2) + ' seconds');
            
            var percent = ((i+1) / requests) * 100; 
            $('#progress-' + take).children('.progress-bar').css('width', percent + '%');
           

            var bytes = xhr.getResponseHeader('Content-Length') / 1024;
            $('#unenc-' + take).children('.bytes').text('size: ' + bytes.toFixed(2) + 'kb');

            if (currentRequestID < requests -1) {

                currentRequestID++;
                getManyItemsUnencrypted(take, currentRequestID, requests);
            }

            else {
                requestIDs = [];
                requestIsActive = false
                updateRequestingUI();
            }
        });

    }

    function getManyItemsEncrypted(take, i, total) {
        var startTime = new Date().getTime();

        $('#loading-' + take).text('request ' + (i+1) + ' of ' + total)
        $('#progress-' + take).show();

        var xhr = $.ajax({
            url: "@Url.Action("GetItemsEncrypted", "SpeedTests")",
            data: { take: take },
            type: "POST",
            //async: false
        }).done(function (result) {

            var elapsed = (new Date().getTime() - startTime);
            EncryptedResultTime[take].push(elapsed);

            //sum
            var sum = 0;
            for( var i = 0; i < EncryptedResultTime[take].length; i++ ){
                sum += parseInt(EncryptedResultTime[take][i]); //don't forget to add the base
            }

            var sum = sum / EncryptedResultTime[take].length;

            $('#enc-' + take).children('.time').text('avg: ' + (sum / 1000).toFixed(2) + ' seconds');
            
            var percent = ((i+1) / requests) * 100;
            $('#progress-' + take).children('.progress-bar').css('width', percent + '%');

            //var data = result.data;

            //var decrypted = Decrypt(data, '@CompresJSONSettings.EncryptionKey')
            //var decompressed = Decompress(data);
            //console.log(decompressed);

            var bytes = xhr.getResponseHeader('Content-Length') / 1024 ;
            $('#enc-' + take).children('.bytes').text('size: ' + bytes.toFixed(2) + 'kb');


            if (currentRequestID < requests - 1) {

                currentRequestID++;
                getManyItemsEncrypted(take, currentRequestID, requests);
            }

            else {
                requestIDs = [];
                requestIsActive = false
                updateRequestingUI();
            }


        });

        
    }

    var requests = 20;

    var currentRequestID = 0;
    var requestIDs = [];

    function fireUnencrypted(take) {

        if (!requestIsActive) {

            $('.progress').hide();

            currentRequestID = 0
            requestIsActive = true
            updateRequestingUI();
            UnencryptedResultTime[take] = []

            $.when(function () {

                $('#loading-' + take).text('loading')

            }).done(function () {

                for (var i = 0; i < requests; i++) {

                    requestIDs.push(i)

                }

                getManyItemsUnencrypted(take, currentRequestID, requests);
            })
        }
    }

    function fireEncrypted(take) {

        if (!requestIsActive) {

            $('.progress').hide();
            currentRequestID = 0
            requestIsActive = true
            updateRequestingUI();
            EncryptedResultTime[take] = []

            $.when(function () {

                $('#loading-' + take).text('loading')

            }).done(function () {

                for (var i = 0; i < requests; i++) {

                    requestIDs.push(i)
                }

                getManyItemsEncrypted(take, currentRequestID, requests);
            })
        }

        
    }

    function updateRequestingUI() {

        if (requestIsActive) {

            $('.btn').addClass('disabled');
        }
        else {
            $('.progress').hide();
            $('.progress').children('.progress-bar').css('width', '0%');
            $('.btn').removeClass('disabled');
        }
    }

</script>
