<style>
    .progress {
        height: 4px;
    }

    pre {
        font-size: 8pt;
        max-height: 180px;
        overflow-y: scroll;
    }

        pre.actual {
            max-height: 95px;
        }
</style>

@System.Web.Optimization.Scripts.Render("~/Scripts/compresjson")

@{
    ViewBag.Title = "Index";

    // number of items to request 
    var takes = new List<int>() {
        1, 2, 5, 10, 20, 40, 80, 160, 240, 480
    };
}

<h2>Index</h2>

<hr />
<h2>Encrypted URL Web API Route</h2>
@{
    string prefix = CompresJSONRouteManager.WebApiSecretUrlPrefix;
    string id = CompresJSONRouteManager.EncryptSecretUrlComponent("5");
    string controller = CompresJSONRouteManager.EncryptSecretUrlComponent("CardDesignItems");
    string url = Tools.Domain(Request.RequestContext) + "/" + prefix + "/" + controller + "/" + id;
}

<b>Normal: </b><br />
<a href="@Tools.Domain(Request.RequestContext)/api/CardDesignItems/5">@Tools.Domain(Request.RequestContext)/api/CardDesignItems/5</a><br />
<b>Encrypted: </b> <br />
<a href="@url">@url</a>
<hr />


<h2>Example in iOS sample app</h2>

<iframe width="420" height="315" src="https://www.youtube.com/embed/IrClBpjs5ZA" frameborder="0" allowfullscreen></iframe>

<h4>Output to console</h4>
<pre>
-- request start --
HTTP Method: GET
URL: http://alex.bechmann.co.uk/compresjson/apih/VTJGc2RHVmtYMTh4eFkwalNTT0lzRmtUTERPNjZtU1RvdDkyZ05DdEhtVT0=
Content-Length: 3.79kb
Data in HTTP body:
{
    data = VTJGc2RHVmtYMStDWE42MmM4UktrU1p3bFAvMU5oMzEvZldkOVR5d0h4NGwwdHJqL2NkdUs3OXcxRXg4Ums3YnVIZW9lcVpvVmhCZmM0WVJEYnlGSml5eGNBMGJoU0tBYlNiV25yUGlwa2JsL2x6Ti9TYUt1Wis1ZmVOWEZCTlVWRW5CUVp5Y2M3NlVQTGxna1VheGxvTmdXcE9aanQ3Y1JuMkNRWkdtY3N0VnNUbG5Kc3NqTlB4RXVOaDc3S3VtVS9WTWhSci9hclQ1WHo4eHRtRVFLWlpTZktpT3d3V1VYT3dqN1I5ZjY2OFE1Nk5TZTEwbEx6U2NTaVdBTlBla3kzaGpOT3UxbU14TThGOWR4RytlSVgxRjFtVmFNajhGdDQvQW1ieXZTU2Iya2dZVTIwV29saHUxaVhxbkYvVXRia2dBcjFrNW9lU0FkTHN4Y0ZpNjM5bUUwckFPV3hXRklNZksvVUs5SWQyeXJBOFZ0UFFnMU0vQXZRUHg5dmZoOUtxWit2ckI1WkV2dWR0Lzgxak5XcUhoUnVhMGpaUzU5Wm54UUZiRHh6TzNHM1FabGZHTHd6eFVJeEpTT1pYSGoyNjlQQW94eGcrMno2aXlpM2JyMUFxei9SdEg0SHNuMHY3M3VjdUV5b293WnE5d2pYbWoxSzNKRkVabENGSUFQQllVWG5LYVdrbUZnNkJQVW1GcmtLU3k3bkJoL05LUmtzb1hSaXQ0aWxsdWhXNkJzeXdiOUM3NVdPYmxoRlB0L0dLaFRTKzdkR2doMUVPNFNpYkpLb29JWVAwa01pTlRqUmtKRi8xaXl6cGFiQ29ZaFNjM3hPZm1CRTlUZDFDM0QwSmFYZHBnZ1BKR21EYngxQTM5aFd2TDl3dCtKMEZBeUxSeWV0cWNsL0FITk5yUTdaUVQydklGNEtqSXV0V0xxUytqdW8zV2dscGNFamdzTDVITi9jRXlLcXJFYlgyN2lBeE1LUkFHZVR0VVN4TXQrY3VIdEJEdnp2VzhQcjJjWXdJazEyc21tSHhldHFtQkFmWkpJeUc3QVcrQWlNNW55OWoxekRxNGFYK0FUazZtYWxSZkZvazhNS3hiZU9lNkY5bExwUTU3UDFRak5SeDV1Sk96Q05KZTZLenl6bjZ4S29zWkQyb0pqSm4zL3ArdVR5OVJYbTFCbnpuYUxpWEEvU2NwM3Q2c3dqdHc4U3YwNDMwVEZnazRzOXcydHg5NklVN1BJMzQ0TXlLenJTTTdWbXNIR2JKTDlvckNPL0JVd2pDUU01L0toNlFFY3dkRy9kWGhMd2dPVmhmemhhZjFXL2xYcGdYcmNXZUEyaWdBZFgweEl3Z3NXbmR2VEY2QS81bWFFMTVwelRCNE5OcndZK1QxSXN2Q0UrazZLMmtKdWtMM0hiMk1JZ3YvSERpNXUwV2tFYy9VbVBPNm1wYUhnbTROOG8rVC9vdDJ3V3JLeHFpdE5OUmYxUkVXZDFMVW1GK0pRNXRad2UzM09ybXd2UElHVjA1VTJqNGdMMFhxT01DOGhoZ1p6ZFFUbFdycThrUkM5L3FyVUtXbElHTElCclZEVjZmNWl3eUV6UjJNaFhSQ3FlaHI0NzVxWTR3aUFSeEEvdzFKdEppdHJVOHdEelcyWEx4RkR5MDFSdEVBQ1ljWHM3b1BxY1lRc3orQWdid0hDQ01zUG5aQXJCeUdnSVc1Wm9xRWxEcHlZem5VWUZ5SzE2cjdoUmZ1ZGYvQjAvS05CQUdZRzI3M0JqZlF3QUw4emVCY2Iydlc5R05zbVN0Z29keXc2SjZSU3RtRTJzMWYrNVhDczZvMmYxcTNrajFHQTFNMnRBRlRUWlk4SEhZZnViL0Y2SjZvVHduUlRXZWhYdGpxUk9kSmk3WVNGYVcxblkvcGhuSUZtdjBHQm9ycDgyOUcraXZzV0ExWndxY1BxWGNCU1YwY3pib2RoV2NhWHpFOFJLb0lTcitLUTdWUHByaWM0RGpkNmxvNURMNWlPaWxlRVV0NE9PNDlxd1BrRjcvbEp6R2lSSlVicDdsSGFvejZDakh1WXhDNW9tbG5PTUx2TXdkNmN6dWZVMmVOejBDc2tvQk5NdTRNM1QwTjBBOFZuSGF5OCs4aFZsSlZ0N3RpZW1NTFFzZCtPQ1ZKRVd3SXRhRlpvU2loNFRjK08vdVB4VXlHZWV4SmlkSjVjNG52Tm03cS9YZHBaaVZpcW1kY1JEZXBoNlJvK1NIRkV0Qk9UaEd0WFB3U0YvNGtkOVZiRkp6QUZHT01aWlNEOEVQZGN6VkVYVWYwTUF6STRDcWtMVTFWajdCNDlRbkExQk1BWkVhWGRyTEFSdzc4ZDFhTVVralVGZ1QvME9TYXFvVWdzdlVZalVKRUFUT2tScDZESXZHZGI0K3BRZlpOcTFZT3liaDRrMXYxYldKWkpqTDJYZURUbVFCUmNhYlhCQWdyQmFTMVJ5UVF4Q0lxSTNWTFdrejNDOGt1S0hxL1RVTHFONFVnbXJ1Wi9ES3Q2S211bXFVbkhWSytzL3Z3dXNpdGVZUzFySFdTVUFFbGw2bU1WZUVzRzdxeXpkR002bmdObm01dUFCRmVKTXhBYTY2cG9peW41dVdHeTNKMGVPeFBCQlRQUDE1VTdlT09IZFBKV0lEcFQ3ZUoxMldBOUUxbi83UlZFQWpKQ3NxRnVVUUxWZ3VsRGVBNWV2THBIc1RaWlI5bnRvck44N3VHeWg0K3Y5a0VnWXJ0LzdFVVZISjlTeTc4TVNGRVNwMFQvMm5tYXBnUmNIbEc2dEtYWk1ZWHExTTRnbUE1ZjBTTkd2TnhYaU5UTkVRMUlKR2NONnRRVHd6Zkw2V3JJWEZSQWhrVHdaNlUxQXhpL2xEQlptQW8vbUZsNVNzbnpYb1RBT2Qyb3VyUmVqUFl6WHFkOHI2aS82Qm02OVBsL2QyQmpRdi9BSkdVL0o1UWJFN01sdFZZd2xXNGh6a1NBMDdOcjdqenhWdmx2WjZBcyswOGw4a3FEUmhjQWtwQytkWUdNMUtvOXZZRUo4OHZCNEJQaDR6Y0Y2dXFNK01Va3FCNGJkMmNiaWc0bVAzMVFlRU5LZFRyb2EydGRzSmFKK1dDVnFhaWwvUFRUZFQwR2llSEtYMTZ5MVZySmcxU0JkTDh5U09uS29idVAyakNRejZybG5sdTVKNElUbDBsSlVSZ0FQT29OdDZrWEU3OGxnWHUrTUwzak5yR0hVczNGSUlVWVNHenlESi9rNkpBbTY0a1VEUnljcFZnZEM5WmJaWEgycjNiR2U2MmV5UnNQSGppQmlWYWNHK2wxSFlCYXBpQXZ1Y08zYS9vSjB5NkMrNitSQWRsSlVkSEVZTVViek1sd3JjS1E4SWIvL2pIUVpka0YwbWV4QmJaNlcwRE9yaERmTXJNN0ZOOXVDZW9LdVNkWE5PeVFYV2hTWDRSUXhJOFpqS0F2ZGc0dk9ldkRDQVFBUFoxaDdnMUE5aDNpYk5leWFpclpxMjVPcUQzYlhsTnkrcm5wMitteWdIR242MEhXdWxTUnhldm5TQVZjRS94OGZwWTNmd2NxSE1jT3BITXplTDdwdUhvUHVrL1RRNkVaNTUwR0NYVVlhRnRjWFA0U0Zlc0xjYiswTkovSjZGeHZxT3E0QkgzZVNJeTk4OTlMTlhNTGpzYUMxWjd5bm8yOTNMTTJqODgyeDM5Sk12cDFFZjVtclduVVB5NU1XNXpGK3g4WDV3bnYrMVFKT3JJS0x0WkJCdzBibGxvdU8ydVhPUk1ZREw0ZlpXeThPd3k4cDJ0djFESyszWlJTQjloTEtxQXVwU1JFcHZIbUUzZWMrbjN1c2I1QUhSakZWUkpTZz09;
}
Decoded JSON: 
[
  {
    "FontID" : 23,
    "CardDesignItemID" : 8423,
    "CardDesignID" : 23,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Christmas!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8421,
    "CardDesignID" : 15,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Easter!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8401,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Birthday!!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8400,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Valentines Day",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8399,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Merry Christmas",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8398,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy 5th Birthday",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8397,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy 10th Birthday",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8396,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Congratulations on the new job!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8395,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Well done for graduating!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8394,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Thank you for helping out!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8393,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Thank you!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8376,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "hello67??",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8368,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8367,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8366,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8365,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8364,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8363,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8362,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8361,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  }
]
-- request end --
-- request start --
HTTP Method: PUT
URL: http://alex.bechmann.co.uk/compresjson/apih/VTJGc2RHVmtYMTl5VVpLeUpIRkJxYXM2RjdXbXRrRXZKSmRUekhzbjMxdz0=/VTJGc2RHVmtYMStLeEp4bTVzWE1sWTJjcVRnUmtrSi84ajZabThPVlRrQT0=
Content-Length: 0.54kb
Data in HTTP body:
{
    data = VTJGc2RHVmtYMTlvTVRrYUF2Z09iTERLMTB4dGxVUXBsdkFHSGU4Y0V0ay90ZkRXc3dLbm82djlvNzNISld0K3oyR2dFZG5VVkxzL1c0Zkl5SC8wZ1ZFN3U1cFhHZEJNaFVyM2lobWZtbjYvaXFpMWxZVFVEdHhMOStDTFkrd0xWQXFaeFVqQzNxYW5sUm5TcUJuRld5UDAvVmhrNXVIaGVPaGc0NlVXY3JKajZEQ2Y2WEpGSFlrbnBrR3RtcSt6dTBNL3ZNSEE1RG9JSElNWXR2Z0h6cEtsODJFOHV1aEI5OTZRR0dsOXFjTUVtVWtSdk5FVHYwelV1WTJPdkdzWnlobUgrZHg2ZTM3UHUvVHFCNU00b2J2NUh6RTRTVUdMbGZSSzBuVFJGZS8yclZ4VFYvclRPeERLbFNWSmFMV09qUlNrRTA2Q0VlYiszWEZDME5NcHZ6c2xnQjlyT0dKM1pWOWxaakdXaFNQelRqRHlNOVpCNEljb0xoL2Q4K21RdmpWTGIwTFFyWG15U3NVZWNWTmZTZz09;
}
Decoded JSON: 
{
  "FontID" : 25,
  "CardDesignItemID" : 8423,
  "CardDesignID" : 23,
  "CardDesignItem1" : null,
  "ItemText" : "Happy Christmas! :)",
  "FontSizeID" : null,
  "CardDesign" : null,
  "ItemAttributes" : null,
  "ColourID" : null
}
-- request end --
-- request start --
HTTP Method: GET
URL: http://alex.bechmann.co.uk/compresjson/apih/VTJGc2RHVmtYMThWVi9HMkh2cWFObUFVR3I1MWc2ejJLYjF6QWhRbmt0UT0=
Content-Length: 3.85kb
Data in HTTP body:
{
    data = "VTJGc2RHVmtYMStmMkxUWVQwMkZSOFh5blVIRGFEa0czMW1PR05wcms1R3BQWHlGNjd1ZXNobXdJYzJzczNlNzl3Z0xqM3RDM2c2UmhNb2dEWTRkK3FpazZ4MG9vaUgyZUJlY0V2N3lhN21sZFcwaXlTMDRXelRYaTVBbkEvekIvaWgvdEZYRmFhM0t1TkdsVXlxQzZPeE1JbngxWlFRN2FoTjRZakZGSDRQUTFzaStxYkJBMWZWZk9WMGRLR0MxS0hKV0x5bjM4QmFUU1hUei9GeHREUnZQSnRNNk1xMDVqTkJERHQ0T2p5T21PS2NqaFlNRnQwM085MVRnWkFrdUo0b3E0bUJzdmU4aXdpTDZIdkc5UnN2V0FSUlh4L1RNSlJTUGVyVlNPOWJGZkgrbmZ1L3c5K0FjSTlXYndqMm1uSlNkVnF0cmhBMDZKVzJNOUFqaGJjazZGb3p0Rzd0UEZLWUJpM0U3dlQrckozbU1TSWZ6djhhTHp2d3NHNWlMVmN5RGUyZnQxa2FoaVFLa1AyTXh1YTdOWklSbGF2eGdCRXF1U3ZWR015R3g5UlRPQU9Wd0NXSlpxSEJYRk5tNWxySUdzNmhsYUcvWkJSa3dBRkNqZVprcDhHU01YWVZOMXBOTlQ3ai81b2g1elBsYitIa24yRHdBUTYwdjI5d2M0ZmZleHpnc1R6UmNjeDN5RmxNMTJQM0cvK3ZrcEFVVW1ISXA1ODdMMndXNEFsa3VSTFF6ZFV1cFFSdUtVVWxlVUJTRXR1WTc2VHFIbFNobFc0TEROS2RMblduZk1tSHcyYWlZTEZEa3VsdUhKOTNVRjRlT293MWRUNmtxYTEzemdrRXJhR1Q3MnRhZnJxVXM0Y05JRHdPdzJlSCtnWmdVc29lSEhhWmJ6ODJObndFVm43N1c3eFk2RHZKMjhJL0VpVFdxSEVCRk5WVU5qL21YRWtrOXdJalZQb1plT1RsSmVkUzBuQjRqeHQrdTBnck1maFRLekVVQTZCSllwRUhzRzl5elJlaW1vTUh5K0NvT01QSVh2azBIcXEraWJwNnNJWGhCTXB3SHFvNUZySW5jeWtUakFaOXJ4b2NRczlpalhGQmtjaDJVODZxdmdRem93NVBLamhHNW9PdHM0OElTWndoMnJacVVYeG9vUEVhNFRhVFJpY1AzRWd4a2ZjYm1hemZtemlkWmxLY0FMSWRrWXZpbkpmK0VXSDVZTG5GWjNnUUpIdk1ZK0RQVGhaL083cDFXNVcwMmd4YTRpZys0S3hMUG9Pa1hSd1JxQU0zc2ExYVc4dWJUdHJ1Z0s1Ti8zeXV6SHZkdDE5Z3NFTTZScnlVVVl2Mk1xRlE5dnpaTmd4Z3dnVzU5ZXd0QUdWNHJFdjh2dzlrcXBSSVJ5aHJWbHJ0cm5uN0V1QldQbjlEekNqNVJMNzhUWUl2RzByLzJWZzgza3hsWkNuTTgxK294elRvVFpYb1g1NEVGNkJtZzRkUUh1U0IwT09BSlpNWmM2R3ZwNWJZYSs4TVZxZnJScWJwNGFaT2hQci9WdlAvQUlhK2NJSHl1eDlRcXFRNFoyYTBhYmM4M1Z5TlFSVGs2b2t1QXlzUHB1SHN0ck9PQ1FuT3BtSWRqcnVHbmUrSlJacFRzTXpyWmU3NWlaMitGYzRQcmVGM0JaS1JtL21VTG5jL2hLTGI0WUU0dkJuM1F5YS84UnBCcDVNQ05sYVZibW9Rd0lXMVBwZ3RTNHNvdFhGY0R6NDRPSVhTbUtDYkowTk1CZ1F2YVN4MjVaYkMvR1AwNUwyc1pXNlB4VGR3dDNPcEs5YXlMc1ozNlQxWHJOTnJ1OHJPYWt1c0U4K2xTQ3JUd2dNbTA3a0pHby8yUmExclppSXZHSStwRjJlbDZFeitPRzUyZllrZ2xmN1VRa2pIajJnT3NCRC9oNEZoazJqOUZjeWpibGJWUlROUnQ4MEczYU5jQktDSXZWOUhBN1IvNjVYeDZmTE9jSlBHWURGTUJZRmszVmlZOHBOdHR5T2xtY0thUEdYb3dXbnRWMllhRU5tcnp1bTZqekszMWFGRTEwekVhL0hqTDcyV2poRnhDOXQzaWxWdFV1NEhhSUI3ZXcySU96Nmxkdm9QT1ZZeVBWMTNMK1ZhMjVDWXMwRHFQQzlPSUFmSzkxNjVtOHdyVzVRZ01xMGtFRzBxK1pkazRaVEhvcDBNamhTdVVvdDkxeVVrcWdhc0lSNkE1OUwwaDNueUFVbGQzRUNEazZFaHVYckhBOTV5NW0rQXplZ0J1VWpqbXZQN1FPcENWRC94N2tOc013NS9IcldmeFd0Y0lRZFRDWForcEJlb1lqeFhXNVFYR0l4Q2wydmp4V3dZdWN1VGh6NXAweU9Pa0VrVE9QUTBUYnJPTjMwMGlObVRUV1pPTlVLTlNLS0cwUDJzRDdBQW1menhGVUNQcEZBL2sybDZFa3hVbFNOU0RVblNrcExGTFZKejdxajJ4SWxBSEkrQ25kWEJINGN2THV1V3BkS0pLTDVOWnlGL3FvRHBuVDEzUGx3VEZ0NVdNVFgrSHphN3hvdXl1SGFsNU5JTktxcmtmR21URC9qOU5WNUVTSDVWaythZ2M1alloaUJMTmhHVFpuaVhzVEtqdTJQN3o3NDNhSWdwY2llNmQ4ZEFmelRPNTlFa0M1eVc5cE85dTdpTVpWMTRERGpBMG5BVjJJUVR3aGtxZWx6RlVEWGtrK2tpNkc4NzRSMmlOUG9hK25IZTBwbUoySzVtVG1ONmNaRmo4bHowRkNySmxvZWE5bzJ4SWtTTkc5UDI3dVJIV1BodlZINnNBL3pNdGlBTXpSeGpzK0hEWlhtbE9ta0dTbUlzdDQ5WlpsWUl6RG5Pd2RheEpucU15NEpMSG5ORkIzcG5HVTRReWxQWHRLZDh2bHNQcW5QVWRQbzdkU3dFZ3M2eWlzWmZxYXRUOXJrWFRiMjBvMkt3cmU5QWxYT2lEd0IzdEdERkRIdTZsZnQyRHY2T1QxcFoxZFQyOHdXalJrVERTTGt3NzROUnZYczRoR1U0Q25aVzUrQ3VreUhxWWZRTHZxRjZlYmpwRHY3ZDdGR04wdHIwNlJyQU5tZ2VpUUxzT2pXaTVQTkUyQmEwR21YRjUzLzFwanFiUTI2L1JxcG40Y2RwaEdmOHU3a3VIUEdvdGowYnJ3NW0rUXNPVk84ZUt1MEplUXRta2VmbVI0NUZwc2l6S0RvOEwybDI4aWJwSUg1MWc0ODVyTnFaUGlXUFJQS0ZGeXg0NkRXS1B4VFR6ZjBIVHZjdTgyRVJ2L3B0RWhrMWN4b2EyR1J6Y0p3d09QUldDY0w0djN2WWhjandjamwvZFA5THBtenV6UCt6bm5YcVN5ZVJmSU9mZkFXVjB4SGdEWHJvVm93SnVObjhNeHdncDgvcGsySkw4QjNUbUEzMHd1UENkcmtQeEtaM1RBVW5UTFJvUHYrL3I2by80WHVlT3RpRlBQeTgzdmQyWjBodmV0N1ROMjl5clRKL1Q5SERXUkFlbkh3ajZKRyswN0lCZlBCeXJheHhSS0w1S21sbTB0THBsK29SVUtVY3hrZ3ROMWU2dkUxUXVMRXVFM2dvTTdaaldOaEFVUWNiSGtZRWNuVW1FME9ZamY4bnhaZFYyaVJUdmZJME01Sm9QZ1ZRY1F1V1dnMjJNdFRTN2REcWhUSVNmMkVyZjZqYXlHTXY1NDBrL0ZjT2hvYmJPNHpmSmZNVnBXV29VcXJuRjUweHJMQ1phVU4xNVpaZDRPMkFFejdad1ptZ2dmUW9jQ1BhUFJreGtZSFR6ZERCbEpzeGpjNlBnSW11b0xmK01haDRZUklkMVBjdXRuK3pnS3lBK2dKY3lEQTBiUjh6bEVWV050bDArMHNnMDdqMmpLMDQ5bmlmSg==";
}
Decoded JSON: 
[
  {
    "FontID" : 25,
    "CardDesignItemID" : 8423,
    "CardDesignID" : 23,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Christmas! :)",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8421,
    "CardDesignID" : 15,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Easter!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8401,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Birthday!!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8400,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Valentines Day",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8399,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Merry Christmas",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8398,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy 5th Birthday",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8397,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy 10th Birthday",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8396,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Congratulations on the new job!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8395,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Well done for graduating!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8394,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Thank you for helping out!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8393,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Thank you!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8376,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "hello67??",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8368,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8367,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8366,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8365,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8364,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8363,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8362,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8361,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  }
]
-- request end --
-- request start --
HTTP Method: POST
URL: http://alex.bechmann.co.uk/compresjson/apih/VTJGc2RHVmtYMTgwcU9wRXdmTWV6Tkd5dTVKQjlXWW9QQjVDQS94Z1M4MD0=
Content-Length: 0.54kb
Data in HTTP body:
{
    data = VTJGc2RHVmtYMStTL1V6NjEwVXV6ZXhXRDEvVXJaU09jWVRqUDBudlMweW42K1Q4QXROUERlZUNGNUlhUGc0dEY3ek4xZE1jMXU3N3Z4amJ1UWN5Wkd4SllCZ2FmT213TmFzRFhXWXEzZTNWVC8vREdTRWlxcGY4R0FWbHRUaFNZWDROWkVVaU5wbmR3aXE5bUs1d05GUlFvak5FZXhUaGU4b1VsOHVDQ0pSdzdGeS81WFB1SHFZY001VXJQRzY1Wlp0elRRZHpadDhQWUsxcDFzQWpzUzFtQUIxdmEvRFBWM3FrWjFmekdoT1lMeDhQZGhjeGNSNDVxaEdMNFRhQlYwMVNqakFxZ3Z0T1hLY1R6WTdOQVVnUDg4Um43SEVMUDcwZm54NUgvQnhQUFZWSGlYd1JVeG9LU3NYaFF2RGFaSXh6VkF3Y2VBWWVHTDV6emJrYUJxeHZCM2k3TGdzR3duSUJQSVRTVXFaTE5WUjE4Q1BIUk5DcVd4MjUxeUdDT3VsbnNuTHFJMmRic29UZ3pFYklrUT09;
}
Decoded JSON: 
{
  "FontID" : 10,
  "CardDesignItemID" : 8424,
  "CardDesignID" : 35,
  "CardDesignItem1" : null,
  "ItemText" : "Happy holidays!",
  "FontSizeID" : null,
  "CardDesign" : null,
  "ItemAttributes" : null,
  "ColourID" : null
}
-- request end --
-- request start --
HTTP Method: GET
URL: http://alex.bechmann.co.uk/compresjson/apih/VTJGc2RHVmtYMS9oYmdDT1Bvck1ubnZpZ2RVNTk0dytPaFdkWTVlSGNPUT0=
Content-Length: 3.85kb
Data in HTTP body:
{
    data = "VTJGc2RHVmtYMStmSis0bG9Yb1FZdDB6VWk1dkhyczR3d2I3NklvN00rc2pCTW45Z1hrOHM4a1ByLytHZzBTWUNDMHB4MnJIV2xuQUdtQVJCYkcvWXBwSDZhWWdFRlZuWDJRTC9aSzV5YjlrWDlXeUlKT3ptS0l6bzg1YitCdERiVm1waDVtOGhNUEdOVHZWa3lhZDdMMHVZa2hhZ2N2Rm1VMEVlNlNOYXYxKzVpK3ZXQ1A5YUc4RHVnc2YyZU5Qdmx5Y01pMUYxaEY0S1l4VUlRVVNxYllIendMaTBKcXZaVlFsY1JmaXZXenZoZVFORlc4bHhncDhqR09nZW42eWUyeEM3K2pIMWFzeFJ0QVN0L2Q2QkVmUVkwSVNMRkwveUlFbVFPUFlVaE14NTBPMG9paS92NzRsaGhETUpmL0I5bjROeERyOHhUZ3dJY2RuVUdEQ1RUMFlRcUhoRC9wSGtRKzkwVkNxcWUyTW1NdDhsRGduVFBHemRoOUVwWkFqRitDeVc0Tjh3Y2orbVpGUlhjQmkvTmZZY3FqR05jaTdGQk9ZSWN5TzBEMnhFdmx3UlNTVkpIZWFURlc4TnZFbk5JOWpuemZVZHRwbVI5YmdOOElGbXRBOUxGV0FtU3REbVIrRGlpc3Q3S0FpaGhVUnp2Q3FRQmQwUG5WMWJRR2M3OGlheHM2aHMzcktpNUpkMjJqTnkvZW1MVHIvcjIrdGxlODB2Qzd6T1hRSGxtcEoveHlDck4xWjgvc0pJWVJ0ekF3dHFYSlRDWlRuc0xKN1pGdUhTc094WXZXdTNHbEVjY0Z0WFlJSmJ1TkJpTnRIY0VqNjVyWXVOeVBHajBUWWlHZVBkOWJ0bS9JaWllZVEvb0VnRjNvZmkxSmoyT3ZtOUcyck12Q0hjc1BNZzFXN2ZlbjE1VkczbDNBNUFJaFZrOEVETEhrY0JtZ2tjc1FSVlp3YXJwVUQ4QmNNYzh4SzdPYmZib21iTTYvdWZMbi9ITlJNZ3doY1dlK2RLRk1lMFdvSHczS2JFUGkwdWJ0Mys1RU5xMk0wcVJMUm9nSmtQVWhIRmF1WVFIcmN0aWFVQzVuNVFjSXJDMFVoVEZIMmN4eW05dzhTZjVyNDJCWHBUYnRDMCs0eEJ0Z1FzM0p5eDUwemZYNlJybmJzNUUxd1ZRcXNSMmwyYWNTQUpzUFg5V2ZIbGJXVmczcUtXZVhYVlBSN25wb2hVNVVpNW9mM3VMZnpCSmhTTFg5MDFhTytxcmVmd1k4VmRPWC93dGJDaWc5dEpCYndpYkw2YlVuVG9NNTMxL1ZLN25FVG1reHVBM2hsQ05KK2IrYzI5VjBwOXpMd3pSTVNVeHdBbStWQjBCRGZ3a1R0c01Rc3pPV2JGeXFxWEFLM1JHME9aNldoQUQ1bWRRQlh6SVlDdFF6YzdnNUJKblM4bUR0bkxEOGI3MHY2QWhRd29CQnF0QTRnanVMK3ZHazFmSit6eFJ3ei9LZkNveURJVUZUUGxOOUx0Q28wR1VIRVRHdU1xMzFSbytCTHJnRDNSRXVhMHljRzFBUnpaektVNFZKbFdQNG03eVVrM0k5a1NiTU5Lalp6dk00cVFlNWVFYzhDRWRHUXIrZ2x5UWp4OGc0aStoQlJQTzBYcEp6UmZueDFYUnFUVVpsaXdZdHVaUitraGpveFVSTVdUQng3YkhsNGhBK1J3VExvT2RUQVJuTWgyMWoveTU4UENWS3diUUE4aDM5YUhMVkdFY3M4a3JDcDhEanN2eW0zdnYxUG5oM1dhU0ZRVjNaN0FJcXArazR4dUkxYU1rMlg3VitDV3FKKzc1R1RxaUE5WmIySHVIdENVaTZicTJzY1pGZC92QnpaZUJ0VnVWL3A4eTJGbERmWThlNmZWZkhPNFI4eGt1ZXBydEd3MnUwWWYvS0s3MHkzc2MxNWt1ZTlFUkcxUGpCL2RkY0tGV0s5RmhvZXNyZ3pwQ29lYkw5TlE4d3p2M1JNZndxTUFtbVNOdEtlUG55eWVDV2hlRWdjWFVyUzVRaHNVZExnZXNjWExReFNLVU9DUm5MbGJKSFpVRXJzYTRaUDhGVlppNWlvcE4xMGlBcWJ2MEVKWjJha2xadnVYV3EvWnowbnllSGMwRnNFTHdEeE54OUQ5RjArb25ZOUhjUG0rSG5BVmpYdThCOHFmUWx6NGNuRzdaUjhqTXE0RjlqZzBMaFhWNUZVUEQvdCtRcFBDN3NBZ0JhNDNUN2JDSDZWSjJrMnpLNWZpWTlnM2NsN1MyT0wyRTNCRWwxa3RmTG1WR1g4aWdPZ1ZvZHhJbWw3Vy83WC8rQ2xPV2tSVytFRmxzb0cwbnZFeTR5S0NLVmc0Q2gwTzRMbWpoaHdhZGFWdEJLd0V2VzVpUXczNGVvS3pKcU1STDNhYWxuV3NsL3diQVc3d1AwdWd6L01zVit1aG9IZEJxN1VzL2pldk5DVFdDT3V1bnpQSm1CbGdmSHhoNGMxdTRGekcwQWRoRW4yaCtwZmNLWEgwVXJwWmFLT0YzcmZsZGtkWFV4b1pteG02L1FwUTllU0Jha1BXdTJEUW91QW9FeGtZbHBuMmhmVWRRR3BIUVNkVkVLSXNGRnNvd1p3UlArRnBUUHVJaXhOMThsd3Q5aXVNRTV4L0pVdGE2VXBKZ1E1Z3ozSXJWazQybSt4UHdwWlRxNkxpdTU4MUNaVTJkV0p5TTZVN1FEemVoSU81YzBlVHRrLzN1NFJQd1RpZ3VqSGo3dTdDVnk3dTBvZDdkaVZ0Lzhha2g4aXFWcHdNK0lKM3FGRERrZUl4SytCSGs1amh6dHNDSngyUW1mUUh0SFhhd0l3NWtYOXlGRktWdnYrMkJnZkJNRWRrZ09nQ0dZYlBEY1dUVlNYR2ZsclJ3MFVNYTgrUHVvcTErV3Q1UzNXMHZvM0Vjc3pBb0E1L1dUSEU4ZG5yRXg2UTBTOStOeXNtWVZMa2t2WFF4Y0src0FaaWZwbU9WaTI4QWplWHN6M2c0OENoRFhCbHd2dkp1elJ4czUvMEpzRkM0T3VDQTQ0SVc3dENEdE0yNkQwUDMvWHZWTmpkeWtRVldoN0w4THA5N0pROGd6SkZOZm9MZm1wRGpQQldTaTNVcmdUcGF4bkllUDQrYjBTYlNZM3ZBNUZkYmxSZjEyQUVkUlhkR3I2Qm9nMDcyVkFkNWlWNVdnb0ZLS2k1WXdWSHV2Nk40Qis3cFZvL0poTE91OEZva0Z3RWFiR2lKeCtzcEpBSkU1ZDY4K0hpWGg3MWw4dDFNYVhOUGJFQUI4ZEgzbitlT3lvYmVQNU45RDM3c2xnZUpzVU1vTHY2ejlsRFlKNllYZjZXeTByZGhLaEp0QkM5bUdLQk95aFBJYlB3MVpKQUtwTVZheTAzbC9yR3FQUGszNXNlbk5Va1phY21NT0NiM3BXbFQ1UjR5aGZKK2I5eEpnRms1dGlLVW9lMTAwUkEvamJWV2gxZzJwVlZKQlVSaXZ2SHpUb3FIUG1aSHZYNFFjSHNZdzF2MG9WNFNYS1JlWG1QMTY0RXN2L0d1L0FCWm4vUG5tRkdjT3RoVlJUWEczVnE3T2U0Yzd5SEpXZ21sYmNlZENlbzVNV2d4L2J1N0tyUHRDZmZRbmpTZ0F0cHN4QzVUeWV4Tit6NldLVWFKQ3RZMU1CM0F2U2tLL3FHcjlEaDNnQmt4bnRreUU4NTVudnhrcHVLcDllSUI5bW14dmgzMVFzQUdNdDZ0OVlxMm53TE5lTTRaTnpyVVlkWUpvNSs3VWVFdy9EK1FFWWsxU2dPeDdNWHhKWTE1YjgrVUpWY2NnVTVEZXBKT05lYUF6YThaT2N5cmtKODZWVjNqdlhTcUxySnJRMy90TEVMa0NWR0M5ZW1HM0NXUDR6eUlTcXJVQ1Z6WG9Kc2VKeQ==";
}
Decoded JSON: 
[
  {
    "FontID" : 10,
    "CardDesignItemID" : 8424,
    "CardDesignID" : 35,
    "CardDesignItem1" : null,
    "ItemText" : "Happy holidays!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 25,
    "CardDesignItemID" : 8423,
    "CardDesignID" : 23,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Christmas! :)",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8421,
    "CardDesignID" : 15,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Easter!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8401,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Birthday!!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8400,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Valentines Day",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8399,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Merry Christmas",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8398,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy 5th Birthday",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8397,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy 10th Birthday",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8396,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Congratulations on the new job!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8395,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Well done for graduating!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8394,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Thank you for helping out!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8393,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Thank you!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8376,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "hello67??",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8368,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8367,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8366,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8365,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8364,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8363,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8362,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  }
]
-- request end --
-- request start --
HTTP Method: GET
URL: http://alex.bechmann.co.uk/compresjson/apih/VTJGc2RHVmtYMSt4UlErbFJkNEMvZE9XNmt6TjMyOUl1NVBucGpyNVhHST0=
Content-Length: 3.85kb
Data in HTTP body:
{
    data = "VTJGc2RHVmtYMTlBVmR1a20zNVFRT05JUEVxa3E5RDh6dmRDREJCNzcyL3dpS0hwSGVtcDhHSTdHZldBdmxpN3gxNE5JdzBRQVdzN1lSS2VVRUwyeTVwSnFZei9FNEt2SXo2dEw0OS9zY1JtWlllR2JYRUtudjR3OTZlRDF3VkFHMTcvTmlFRksvbTFqR2NPdEVnZHJNOGZTbmc2Tk8wbHhucWtkSlBDa2VKaGYvdnZ0Q2s1b3FKemtLZHpTczduSlhwS1ZiczJ0Zi93YlRiVWl0SnFjeW1KMkpURE4xWis1SEZ2VFlWcDBmTkFka1ZNOUJ6TDNoN0ZDOGxHTkJRT1JMTnl0TUE1Tmt0eGtRampFblFiMnRoWmVFTnFBdUFwd3ZiMmhJMTc2Z2phTlVKVG1vdWZ5Q3p5MUUrQnJUcG9FSXN4WUY4UFVXbjN5dE1zOFF0SGwwSmkySVVvK2tRa3VqaG83djYvZm1yS29lMG4xSGpzSzR5bHNlQ2RtenJFVHUvWk9BMXczbjBjVmM2aDRBYTVldmFGUEUvVEZpcVZ1NnFHNEp1bWF6Z3dXUUN3ZUtyL2xTR1ZXV2VnSkZQZ1VMeWtKTGRVcDVlZ0IrYiszdzQ5WFdhSmNPQTJNQUh0WFpkZllLYlFDOXRnVmFDdUVzYmJ4aW5QYk1oSDJZS2ZiZ0hLUmhQcGFlMVppNDkxRitjVUM3YTArUmdrbVFxUFFFSXRmMEhGNHZ2SnE0aS9PT2EvV29KTEcrOVBJOCtvTk5vaFhia0lUTk96N0NmZWpTWC9DTmFNa1c2ai9mcVZCeEl1SEdYaSszYmZCTG9WemNhZ1haNzg1WHRlVXBySVhjaHhHb3JxOVA0am91KzFnam9QdEVqMFNLaENxNFhzbXJiRlVBMHJpdFVnSmo3YTZDTlJPaDJxRkV5dmR6cnJTRXdIUkpBVHlBQWFQS2tGVnZNU2g5R1ZiSXgxN2M4dE81SW42RFlyYUVOK3hyUUZHRE9QQnNpZEZuTXRDQ25BODVLQ1NrNUtxbiszMEtjVzJkS21DSVhzckxhK1V5YUpUbVBWMXZ0aW81OVBIclZiVWJMbURqMCt1R1hSVnhvVDZ3eWtZNFV2VDNXYWhpV1NCRzZXWmFzNHAxRFkrSFlES3N2VTBOR3E3UWU2S0kxWTlYOWw1TDU5bGErTEs3cG52OTFzVUdJQ3JLOVhFQWF2eGNoRjQ0UmhhdCsyU1VVVXlCVVROakh4UXFaWEVVK3ZvUFNzdWpJbkJoOGV6YkpPUU0vc04xQjZwVnpBTjZyQWg4dGlBSTRlaytDTC9jUndZR3paV1Z1OU5QSzNaVVVLSy83cEp3YzZ0ei9WdEc1NDR0RllEQmJoYUNMUkZOOXR2MmloalFlckt2MjZ5Tmk3bmY4YnJGaVBuRGkyMGk3em9MQkpyMWxOdkRUclgzUTl4bG1hU0x5MFFSU3AyTUpMc0Y5aGFaaEc4RUNhSkUxY2hseVhpOWE1bHFOdTJQTXdkRmtBajFzZDY4ZzZ0ei92b2xMNDJyczNlNEJ2QlpaMnM4WkxRYzErcC96WTk3cHNqVkNCZ1IycEhaUDRheHV0TnI1akxORzJ1dng0VEVMRU1EK2pvZENsZnJ3dHF2dG1tbG5rbjl0dW1kWmxMRnpIbTJNcDdtUDJDcHRTMXZZQjU2RGRXZWllWjRZZ0VLWkorRWs3NjRPYXdjOWIxcEZldkZxenp2WUVGQ1ZzeW5wUUZQdVVrTUd3cWZwR05DTXNnTVh6cVBpNkVYeS8rdFpnK2cvM3pWN0o2UWZpdksrS0dGanlkNGQvR1RGMkppRTdJcEhleEIwNW9wWHNhMDFmTUkrUVZ4Ly8wSWgvUkI4YkN2dFR1MzVDSUhHVXFMR2k0TmI3cmVyU2RhTWQwaStrK2c5WFNzSjQ4N0RUMFM2eWswQnVid2JiQ1pKeURibXJjNkk5QWZDdUZZV2xjcGhtemE2MVlmMWlTb0FFY3JMRXI2dmVUOUZBRk5iS21lWEw5bDJUc0MzNDJNbTBGN1pKSjVTTHVZMTk1cHJMWEZJMUhLVUFEZitiL0ZDdkVMOWdEeWpOSWxQTStoSlJacEhCa0I0TGNFUVFjTU01UTBERE5uUlFxZGQ2WXhGOGlFTkw5Mk9uVUMxWUpLczFidWs4UXNzVy9IdXpqNjYvb3d1WERyQkJPTGdEclBoZ1UreVUzQzZHN29WbEhFRVpBWnkrOWtCbnZqeEdmc1BHSnVPQnF2THdNY1lOT3drb0ZRNkllMHhwbGR6UlRjVUV1a3E1NG01QW1CZmpQWmxYajRUaVBQNTlFYzJsUnJhckZZeFgraVd6djZqSThYZmVPY3lVZ1libFhrOVR4Z3B2aWdoU015clpFQkxFZ3c5ZUQvU0o1SGlpejllSW1OK2R2dVBtbHhVNHpHRG1WNkdMVlJSUTVlOWNwYjVXSzhDMVlHZHJRUmVrV2p5bkxlZE5sYUxjRG9xN0xieWcweFZkMUlya0NqNG05QlJKalBqMEZHbCtIQlJ4NEgyZ3JwMkEvSWZoQzFBenZXWWh1dHhpbDI4OXVKb1pWa2tpdWN6WDNFTUZPcGVLYXYvSTdTc0ozbi9PcXdMZnRsbE9rTHdmRU9RQmdpR21IczNyTnZOT1FVSE5pT1djWCtNOHlSVVREeEJRVDZLR3NWOWFjRWZ4SzVMU05ZeUcwV3IxUElpcFY4MmdyUVRITmVNaXRSVHllS3orcHg3MGUrQjgya2pGbnpaN05RWUxxYzFxUVdpUkpUaXBjTEF4UU1rWC8xYmkvOGx2MHdqTkpGcWgyY2xWNTlPV3FUWjNDTzlab0NPbGJCeHZUZlA4MDExYk1ONVpOdUUwYkt1eFpiQlVoenN1QVMvU1N5VW84S1F3Vk01WjJKV2tzQVJEWWlKRUJnTXZERXNSellIcmJ5eTJ0Z2wvS1VJajFZLzZrOUxyR2NyQVBEZ1ltblR4eWxEdkpVSThSYWxQOVV5SWwxdUQ1ZEFPZkpILy9DRDdIWnpaaWxmOXkyZzJRQzBtMThabGxPT2ZodllqNXVCaGtwbW5wYXJ1V2xqMUZ3WjREYmxoaVlyc01ad2tJTnVReTk2eVN4clhnVjJvcWxyeFhvUVZKZDh6Z09xcjcrV2V0aVVKZ0tVcll5bi9kRlFOcnBuUTVLQ0NLR1g4OUVaN1FjdVdBVFFOTXRPM2hIWXJGdVRXdzBXK3plS0N6dlN0Tm1yR1QyZ2JacHRyNnB3R3A4SVpZVFNEWWRjMCtSQUZnM1VWMjVQcjNkSlNWS3RGNXNyTzhYbzhtQVJRNHJzZVNQdWo1SjNrWTI5Nll5UGZERml3QzdkYzV6a25qRkZGM0ZVa1ZndzNtVHVjRmpFcnBaMG5mSzJRaVJFQ09FREl4NUFHaWxEU0I5YkNGSWtVQ01pZ0NSQStxeHc2S3RxM1NLeTA0a3pxNmhyelEyMjRkNmVQYmw5akN1OURueFJPUmNFT0FQNW9PUzhCdG9mWENiaG94cFgxU1hwZ0Jyb0ppRStGWE55akNWdjFpOWxvdlpEVE5CMHJORm40OW9IMk1iclZ6ZXhVcmppaXArZlJsZ0hQMUJKeHFxVVJNYjVKS3YveEN5UlZGWFVJKzZiRDMyRXNDbGFsMFJxQ0NjSm1tVzRVa0VpTzN3QVhRUDdZMHFvNjJtL1BuSWo1M21GOTNzaGx3azVtZTJIM0FKS0N2YnUwMFkzK1h0c1Z5U2ozZ3JTejdZRHFEb2V6QVNHVS9tdkpFeXZndXVkd29sK2c5WFcwWFJ4c3V5dmY0KytTREVoTnUxcEFuaXFIcUZ5R0RWRFFNK2gzS0FLTEN3WFFMUVVpRjR1bEtXcFNyNDRBRSsxSmk5TnAwa3p5UVg0SVI5bXd6N3dNaEYvRQ==";
}
Decoded JSON: 
[
  {
    "FontID" : 25,
    "CardDesignItemID" : 8423,
    "CardDesignID" : 23,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Christmas! :)",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8421,
    "CardDesignID" : 15,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Easter!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8401,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Birthday!!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8400,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Valentines Day",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8399,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Merry Christmas",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8398,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy 5th Birthday",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8397,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy 10th Birthday",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8396,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Congratulations on the new job!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8395,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Well done for graduating!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8394,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Thank you for helping out!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8393,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Thank you!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8376,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "hello67??",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8368,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8367,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8366,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8365,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8364,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8363,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8362,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8361,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  }
]
-- request end --
-- request start --
HTTP Method: GET
URL: http://alex.bechmann.co.uk/compresjson/apih/VTJGc2RHVmtYMStSN2l0TEFQamRwcndPdEJtMFVXK2FETlNSQ1BQaEVBZz0=
Content-Length: 3.76kb
Data in HTTP body:
{
    data = VTJGc2RHVmtYMS9JRWhXR3BTZ1VMc2dVQ1FGNVZ2dzFnNUlodm92cVdwdnFwZDMrVXpWZ3hZb1lnRkJjQnZJTWNQaE5zSXRtSDlTL0NCc2pqNFBJN093U2tRYTdremxKRzN5L0ZPalhqdEtRZ1Q0UVg2dVhmaHltcjNUUWpLdFZLd1B2b0IrQlBpVUtjZThuR1RFVzhPWXNhYzlXWThGYzBTNngzeXBsdktKaUlMekExS2FEN09zMUpVeXNLOXlwL0NvRUExTVVaSDQ4M0NDNnEvVnEydW1UblpoSFo1UXpDbUV0NlBsSzNKYVU1Q09NZ3BIRFBSSHNhZzNON0JXS0tESEhjOUFzVTd2SW16YjFRWVJLOUNJbllOUi9nL0NJTHJiVVdaRmxadHZOcFAvZTJ5emYvM3VmQ2lhSndjcFAvbWcyV2YxQSthWVdEMm4vS1VNRGRNSktFWE5yaWNlSWlTWWltZlM0TmZacVBqaUtDY1N2R25FQTNqUWltY0EzcDh2dFBsb1QvbUpET3BSWUd0Z3hBTk95ZTc0bHBTNjV5bm9RYnl1UW9TTkl1OGMwdHFmdTg3c2gwU3lGdXBIbGtrdlFQWWxZaVdKVzBBdDZ4THVwT0k0RzRwbWhJano5RXdmOC9mcGs1VlVFZlBNQS9EUFkraEQ0S0IzSHVuZDZYQTlUNmhGUUtNdHlQZnJQUElkbTVBY1J4d3VpRWQ3VlIyNmxOa1YvdFhYUWZ0QU16bzd4ZU5VV2JLaVFtcmpRYlVQamF1aFMvTkxkbFJDbGhSWm5zODVXaFpmL3JEbzJ2QWc3VEM2UzRxRHpHbThuOUF4NGgxNUdEVEhNN0dFNnNTWTBXSXhVeWZYWHZKbXhpVzhCL0RUa0IzaVkxZDZaRGt2aWN0dmw4T0NpODhnK2VKditLcy9FRnVSS3dyN1R0Lzc3ZTFycW5mNkZpUjJjNFBZTHNhYWhBMFZUeWdjZTlrNis5NnVuQ3F5YkZaMlg1ZDVlL0FyUVA2TnF4SmxvcDVhTXJScnZiSTVtbGhOa2hVcHUzVStZa2xQRUJvNVFPc0xqdkpXRlhMbVQzMHdqN1NXekdtT1FuNkZTcmlacjFWNWJKSmloYkZ3MVlTRUprSko3UVQ2VGZpNFJXd0svRjBTMjFISHVCMEZJWHViQWR4eTVQUW8rUnhvWWNQWlVrbFR4bCt3YUVWdkVnQ1lHMDgxWHhXT29KRmpGVjk4emZQbUtHcWpINDhLalVnOC9JbHEvcFpmcU1tZzQ4QXJlNVVsNEFxcjZrMXpqMHVMUmJ1d25XR2NNZ0dhdy9OdFR5b0dUcXJSSGo2YzExVlVpNDN0Y0RCYTJPR1BBRHgxTUZrSGJWSWk1QzhPL1M5YnVpOGpRN0x6UGlucTV0dWNtcFl0dGtPMkxxS2t4cGF1SWVBVml3NnI0Y2k4MzRRL1d3NHNNYTNQUkxLb3BpTjUzekpFNlB6N0RvZEovVU1BaTMrWnRwcVRnRzlJOGtiNGR0VG12d2plZjF6VStORWJlUGY2cFhiNTczZVlxMkNjeDBWeURzdGVWTFFwQkdCMDZXSFVSbXg2cVpvRW5vWnlFS1YzK3poNjNQRUdtNEx2UjBtMHlVN09ncFFHc09HMFQ4UW8zZjdESWFzaGEyRzhoZTdFSDVjWWFRSjBSbi9DdFJYVUxyTjhwOEdRT0JTQWNyOW9VWmlaWTh2NXhHZDZnaUVPMkp1Nmgwcm1JbEdoL2QzWHE3QlphLy9iZmFjOGdld3NwcTdMN3M4RXdLZzFNenQvWjVpd2hHOFdUY1RqNmxhOHRsbUF3V2xUL2wzUDIwayt4NnFpeFkzU2lkQ1FoUk55Zk5SU2VMbDQwb2FqSllBeTRucG8rNEJrUHArckpJbzhHUEdtOHlzeE5oamxnSENNRktwR0o1QzBMS2VRSlg0aHpESllnUGQ1MmNOK3BiZE5zcEJqZnlIR25KZXl0dW9kM0NGT0RQc1VNd3BPVklTdTM1M3hoZEhiWEJvdUJvcTF1NkNxU2NVMlhHa0FoU3d5aVVXQS9IbExjdXJHNmErdmJqYVJLejhCb21mNmtzSVh5V3Z1a3RRbmU3KzluSjZvUFhhSTFSc1lxMDlOWlR2dEs4YXEzY2VjREovYmVPOVBNYnN0TFFoM2dZM0wvNG9oTVB1QmpxbDlycXpUMjN6cUlnUHpvU2syQlRHSFU1RlY4Z1RjQXlJV0FRclFPN2tZbk55NXpSaVlwMG9yTzh2VkZKNTMvWndpSXg4UWpZNUZrYit5VEMwM283Y3NFQmVFYVlHZ1JSMHZWTk5PVFBhdWs2Y205MXBoU3M4VTFVblhPeEtwZUVOajVxbi8wOVVpa1RvOXdrai9YWURQOSt4aGY4Y21TdnlueEtzR2ZVQmpyQzFzYSsyUVliSDhDOWN0Z2xaN1FnZkQzSW9hWkRJNCtia2VXWFJQZjgyNlkxSmtIYWJpU0lwL0JqM1FlKzJVeXhjVyt1aWlMa1oxdDUvdUJTdUpVUWFSRmdybCs1UUhsSGVtd2Q0SGdLS0h3Uml4UlVOaGNHZkl6bFZGNDQ1UitkOCtCcUNJcFJzMmhNL01sTG1CYVF0ZHN2MGxYK09PVkVCaUVsVmRncDYxNDRMemVFZ1pIZU5ZQXkxNFBpQmF6cHlDN1RnZHhtd3d6aE9sdXdwM0VLd3YwajZsVW1qV3pwQmRsTmlEZnhmSkRuYVRPZ2E2KzVIa054aHJIRDJ6TDNuM2ZlV21wQWR2bmZycGluRVJ0U29rSnBYNGxNdnZCT09LWXJRUEVrMDRvYXI0ZmRpMGc2UGpUZlAxK0FXOVlIWFo1WG40UFA5RElwVHN3SEtnOStqV2U5YldBcFlNNHcwWTVlVzFpRHE1NTBoUU1lT2o1SngrR2NFbG5XRkxDRUd3bml2MDc2cFVnTzRhUXpGcXpOVjVlb0xlY2NHTEczR1dhbTRkaWhMdVlXNVdvVldWNkROY0w4Qk5sMDF1UU95b0pvQ2xmbDlUZWhsNG9TSVo3YU04NTlVOFpFeGMyNDBjdVphR09jb2pFY3hSNFVaM3V0SlJXTUJLaUVmaVNoOGN6Z244bHhYNTZQa05henR2M2hLbUFEeHpSOVViTFltTTM2Qi9OazMyQXV6TFhJSitVT1RpSFBnbS9CVExmVkdPY0t6dlluSHZBRW1kdVdrbWxZMzRXZHdpRG1nY01ZT1pIZy96MmZQbDNSQm5OWFVNeURMY1doK3c5K3E4andPR0xkUkVJdnhwQTA2L0xra1BSeC9YRDY0ZFQyNGw2YTF6QTlXejQ3cXBQbzFuZ3NiQ2xwcUtpWlc0Uk9FQ2VjZEtIVXVwNHVVajYwVW1FZ3lLUUtHWGVHcHFML2h1RXQyTVZvaVN3dElFRHZLQ0NSUnF5Yk1BQmgzL3VuNXczbFBhRDB5U3VmdzdVNk56R1BQck9oak84NlFtTWdDTDJmaUREV1JxVmg3SHcxaGVoSjU4Q1J0VW12a2dyVDd1dVorc0tNRVgxUmJCNC9FNjJBblJLUHQ1UTdwMVF5cjNZZHVzSnkwSU45OFRRakErNVlpSkZLcFVTWTdqdTFvYldiL2NpM3hPY0RuOG1kUWU5RWtpUFFiWnREcmJCMW1aWnJuS0J2ZnE5NDNjaGhXNFZTUldGOE9rejZNRy9QTzduZG1qMlVVRDl0VTREdmE5K25GTEUvMFlIUFpKemt4RHUwMTBHWUUzUTAwTW14QWtmSFRqRVZ6bDg4WCtqYjV0NnJlVXdSZDhCN1psQVNCcTFwbjhFNWxTY1AvVk5QZHJUL2loa1ZQbVYvMXFB;
}
Decoded JSON: 
[
  {
    "FontID" : 15,
    "CardDesignItemID" : 8421,
    "CardDesignID" : 15,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Easter!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8401,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Birthday!!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8400,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Valentines Day",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8399,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Merry Christmas",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8398,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy 5th Birthday",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8397,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy 10th Birthday",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8396,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Congratulations on the new job!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8395,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Well done for graduating!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8394,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Thank you for helping out!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8393,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Thank you!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8376,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "hello67??",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8368,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8367,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8366,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8365,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8364,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8363,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8362,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8361,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8360,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  }
]
-- request end --
-- request start --
HTTP Method: GET
URL: http://alex.bechmann.co.uk/compresjson/apih/VTJGc2RHVmtYMThpM0JnNHJMWWFqQUdvZWg5STRhTmo3ZW9JRnRkbDNmST0=
Content-Length: 3.76kb
Data in HTTP body:
{
    data = VTJGc2RHVmtYMThVdkxBZEJQZ3Z6L1FiSjh6U3dDUE1yMkxXRHM4M054SzA2LzQ4bUtkTUpZcjB0a3V1M2RaOFdFT3NhMjQ1Y1R2VmlBKzRRb3cxa25JTW9rVk1qSFdjQUJZTUd4N2ptYzduaWpIdGxYZ1hkY3NkYWxpajJIQjZSR3hqWGtRZXhoMjhsaTk4b3VuNHNRb2wrL1Q4KzZWcFBuU200LzBzNzk5VDRtWlp3a2I5R1BqQ2x5TzFRYzNSSlZIa284WmRpdkNxZG9QUEJvY0FTOFJaWWc0T0xrYlkrKzJEUmkwWFJqOWhIaXhkTGhmakl4LzU5YUNmeDVuZU1uZlhIUFVwYUVMQ1VKbkUrMGl6a3lIa3pPVitTZGQxeDFGa2xVVTFOOXF5L1BkdHlXcDBFelQ3d2s3UUY0dGFrekwyMmhFME5RT01OZGNKaENPMnhvRnlPZVd6Mml2NnRZY093RFdWQ1pJSmEyUDhmNlRzR0pSTW5BQ0ZnVEg4Vm9lWTRrb1JkRUY0ZlpKSnozamsvdlpvV3ZITXNjcHk0d2FwRG1xSk1yVkxhemlsZ2VFN3FEd3Z0YVVFc2Q5cnFrZUMwb2cwZ0tZcm5ZTTBiOHc2ZENXNDVRRXJHSjVlblBQSDFNQ053OVFtUHc2RS9FT2tqMjFxUzREMFRJM3ZyOFNaRFcxbWt1ck45K0l6bEZwTWR2dDRYbkN4ek9ZbGhyS1JmVEJ4bjFvanB3bTdQY2prQWhJTEhIUnQxdDJiUnpVUFRNNkwrZ0kwbjdLeFBKa1pKLzRxc2crbDdaODJ4R2ZwUFNNZHZ0di9GbWxsR1VhVElYOFgzRW9ORUsxUnFrS3BVNEhCZXY4U0p4cDlucURaY3NYeXphdnBpczNMZmNreGc0cHFycm9BZmpkR2RDN0hVTFlSSldRMzQxKy91SENMUHZtSHN2V3ZPNmg3bjg0aFh1MlBjemR1ajh0MmFUblVvbVFYSi8zK09INnYxQ2RFZGxWZ3JjTnRIS3ZEWlRSejlVY2RRd21rcDQ1U0Z0M1kzMUFIckFKV3NiSnNUM1VWcEVUcHZwczRxM29DQ1FGNDc4T3N2Zm9lWERRbkdMR0crZXZEMUVYcG0yczdPNVRHYWlVRW16QWV4cHRNSGJhNGZTc3NWckJJc1NIZ3RrZkg3OFFHTUFkWTlXbXN5akJzekU1eGgrVnVYUExvd2hEb2JzOHNScWhESm94Zy9QSGt1R1AvZHk4UHJSU3JsRUlsdUxLcWx4OXJoMmRkY2hTU05XMUFkOUJzMitMc1RXemI0dkZQdWV4dm9iZEtKdXFQTTNaQXdiQlBsL3laUUxyOUVrYXFVM05zc1QvS2NsZVpNdGxPVlNQY1diSEJkenlsdEFBN1dNL2hTWTZ4QWh1aUdIWVV5U1BES1RxanMwRkpOd2tVdERxRDgwQ3c0bU1RbGJ1RXkyMHJvbFlhbFBDQmdqZnZzckdvcTgrOHdrMzgxd0FJaG15T0NPVE8zYkVGWk0wQkRtYzE5K2hXdXpVTmI2b0ZOWHNPb0ljV0FKR0t2di9yRU4yVFRsU3h5SnNRMlpPbkRLcjJRWllIeG1BMnJsQ09yL0dEc3NrMzhjeWwybjhJN3QxM094c1U2UmZFUkRWelR2bktXVEJValdKVjRJSXlUczNzUE5INURFNkF1YjR0OFNPK0xGWW9HZHM1REdKdFdiOGFyc1hYU1RJTWlnUmZkSjNmb3FHOGJCQnNPZ3NVSG5ESEd3Tkg5UFZuVG5YM3V2cG42djVjcVJkZXg3VzNBR01yeW1TbFAzVGYzVmR3QzVuNk1xTkV5bnV2V2tNdmJXeVUvZzJsVE9sQ0l2V090QUpnaXhTcmQzcS9zcXBYRDlEQ2VWTHkxekFFSFZzUThUM2xrdGhBMmQ1eStEN3NtcWMxOThSNGdSdnp0TTRGVVpWOC9OMUVyYzEvdGUrM0VjRTd1Q2JBN3c0dkg3dnFrNllQS1Z2VnNEZXFoL082ZDZsZDhmZWhEbG1KSEdHQWpmdmRFa21nTmQ0ZlZUSXFUcXErSGVwcE5wUG5BUDd5aUNUczVSbVh2RDN0QldFb2ZjTzZkamk5c0pMSzBiQmpPbFRManJ1b1ZxYm43Wkp6V2Z4aGEzeTM5QlprT1pRcHE3V2pqZ0tCbmMxbnQwQ0ZrN3BqSTd4Q0M2NmtNenFCWGswUWxxaEhLbUZjdXdCd0xUMHFxWXFLdTV4UkFHSlFBUEJqazBLN241dVMzRnlDTWc2RjYyLzhQdVV3U1hBU3dIMEIxTWcvNWhlb2RGREJZbFA4enkvaVdLdEh1Mjl6V3hTK0cyVlhwamtHcGFRUjNMNHpBTE1GaTdsMUQ2OGJsbEFwajlJOWVMSlNFRklOOHE0Tjlzd29KeGU4RGhSMjYxa1MvdFBReDdsUTd3RnlLdHNtZFpTSUo3QlBoaVNKUkp4WnVLdWdOQkJoNHYzSnJSVEY1VmRBSytzQ2NHNUNvUk9XS21OcXFVSFdCdks4Ym0zLytiWktIVkwxMGhXK0lLUE1QVzhUNFVQd3lCNGZoYmhxNEcwdG01dFI4R2s2Mi9JMW1xS3lGKzBQR2JYWUlzRW5RL2hib010dERkbnRRdVJYeWdJbHJSZTRjTytxMTYrelV2bHVJWW11KzRLZGpURmJLYWpGLzREOGwyWDlmbmM2WDB1SGxueHRTV2dhQVhIRXZGYjJabXFzVmNJTVdHRzFnSVo0bmJCMExrNE9mMWZUR0trcEhSZnIrenAzY3dyMFVPMDZPMW13V1UyVlNzbUNkTkxNUGEwM01qRWNoeG81Z3RtRzBlZFZXQXBCdjFJb3ZHaUJmSHRtSlNkZ3EwTnBWMUJEYkNWY1JrRTg2VmFrRHYyL3pzRWtoSTJFVnhyaWVJNXVnQWR5a1pOWVl2NVNTQy9VUktwUC9mTjRTOElSaGV6Ujg3YmZBdXNlWmU2Ly9SejFZeVhIUUI3QkJvRVJKK2hKTzdzK205WlZvRnljVU55dCtKeVk0d3U2N1BQek55QjJqOUh0QmwwMHVBNGxwUktHQnNkenRNb0NxZlR3YU1ERG50dmxKZnAwY09mOE1LY2VRZTlEeGUrV2xPT01RdmtXR096QkNEamF6UTlXUHdLMzBDNndYK0NEbEI0TGw4WTA1SzdhZHo3L1BReHkyQ2tzMzBlbDJoUHYwRDl5dytEYTQ5NmNENnh4ek5Rbnp0RjNYK1YyR3k5MWdSSnNseXZSdUtFOERBOWYwbXZ6WGhBUmUxTDhxQUhaZnprSFpPN1JsdWFtY01jRDBRbE83cXV4UVpuMVR3OUduRXJ2ajAxM0E5Y0pyK2VDQWtTTjloMGNFanR0cHVlTjVFbU95VCtWMUllUG1JZndqaE9zN3YrWXlUSFJLQVBoeWtXRDQ2L001TzZMLzBoN1g4cU1mZ3JaVzBJVExaNHVQak9LdExFV2JnZjcxZGZXZlk3VVhGNkNtWHc5NjgydldwSFRLSkRYS1RZNzBYeFg5R2dxeDZHTkdJeU5pTTd5YllTNzBEL3RRSVhjQk5Xa0FxUTVvV0V3NXk0cU16U1VlZ0dGdDAyVG0ycndFNGhBbkZUUnVXZ01qK05ZMlRESnJUclR6UE5EeFdFRUttNzBRT2sxZHdlNnRWTDNEc0ZFL2pPNGJsVStob3kybEUrVFNrcEdJSWxZdCtHS0MrUVdFQU94YnlXWERPcU9sZUpLd3pJWFBBYVYrRDZYVXdybnI5MTRVT2J0QVcwa2lFSHdXOFdKVk1ybkc3bWlxQUhPTTFBeC90aEdnempjcU9JcHA4SndjcCtD;
}
Decoded JSON: 
[
  {
    "FontID" : 15,
    "CardDesignItemID" : 8421,
    "CardDesignID" : 15,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Easter!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8401,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Birthday!!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8400,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy Valentines Day",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8399,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Merry Christmas",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8398,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy 5th Birthday",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8397,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Happy 10th Birthday",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8396,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Congratulations on the new job!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8395,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Well done for graduating!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8394,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Thank you for helping out!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 5,
    "CardDesignItemID" : 8393,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "Thank you!",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8376,
    "CardDesignID" : 2,
    "CardDesignItem1" : null,
    "ItemText" : "hello67??",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8368,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8367,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8366,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8365,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8364,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8363,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8362,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8361,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  },
  {
    "FontID" : 15,
    "CardDesignItemID" : 8360,
    "CardDesignID" : 1420,
    "CardDesignItem1" : null,
    "ItemText" : "hello test3 ???",
    "FontSizeID" : null,
    "CardDesign" : null,
    "ItemAttributes" : null,
    "ColourID" : null
  }
]
-- request end --
</pre>

<hr />

<h2>Request speed tests</h2>

Settings: <br />
<b>Compressed:</b> @CompresJSONSettings.ShouldCompress.ToString() | <b>Method:</b> @CompresJSONSettings.CompressionMethod.ToString() | <b>Encrypted:</b> @CompresJSONSettings.ShouldEncrypt.ToString()<br />

<table class="table table-bordered" style="max-width: 750px;margin-top:20px;">
    <caption></caption>
    <thead>
        <tr>
            <td>func</td>
            <td>Unprocessed</td>
            <td>Processed</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var take in takes)
        {
            <tr>
                <td>
                    Get @take items (20 requests) <br />
                    <b><span id="loading-@take"></span></b>
                    <div style="display:none;" class="progress" id="progress-@take">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="sr-only">0% Complete (success)</span>
                        </div>
                    </div>
                </td>

                <td style="width:260px;">
                    <a onclick="fireUnencrypted(@take)" class="btn btn-primary btn-block">Normal</a>
                    <div id="unenc-@take">
                        <p class="time"></p>
                        <p class="bytes"></p>
                        <h5>Data in request:</h5>
                        <pre></pre>
                    </div>
                </td>
                <td style="width:260px;">
                    <a onclick="fireEncrypted(@take)" class="btn btn-success btn-block">Processed</a>
                    <div id="enc-@take">
                        <p class="time"></p>
                        <p class="bytes"></p>
                        <h5>Data in request:</h5>
                        <pre class="actual"></pre>
                        <h5>Decrypted/Decompressed data:</h5>
                        <pre></pre>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



<script>
    var UnencryptedResultTime = {};
    var EncryptedResultTime = {};
    var requestIsActive = false

    function getManyItemsUnencrypted(take, i, total) {

        $('#loading-' + take).text('request ' + (i + 1) + ' of ' + total)
        $('#progress-' + take).show();

        var startTime = new Date().getTime();
        var xhr = $.ajax({
            url: "@Url.Action("GetItemsUnencrypted", "SpeedTests")",
            data: { take: take },
            type: "POST",
            //async: false
        }).done(function (result) {

            var elapsed = (new Date().getTime() - startTime);
            UnencryptedResultTime[take].push(elapsed);
            //console.log(elapsed);

            //sum
            var sum = 0;
            for (var i = 0; i < UnencryptedResultTime[take].length; i++) {
                sum += parseInt(UnencryptedResultTime[take][i]); //don't forget to add the base
            }

            var sum = sum / UnencryptedResultTime[take].length;

            $('#unenc-' + take).children('.time').text('avg: ' + (sum / 1000).toFixed(2) + ' seconds');

            var percent = ((i + 1) / requests) * 100;
            $('#progress-' + take).children('.progress-bar').css('width', percent + '%');


            var bytes = xhr.getResponseHeader('Content-Length') / 1024;
            $('#unenc-' + take).children('.bytes').text('size: ' + bytes.toFixed(2) + 'kb');

            if (currentRequestID < requests - 1) {

                currentRequestID++;
                getManyItemsUnencrypted(take, currentRequestID, requests);
            }

            else {
                requestIDs = [];
                requestIsActive = false
                updateRequestingUI();
            }

            console.log(result);
            $('#unenc-' + take).children('pre').text(JSON.stringify(result, null, ' '))
        });

    }

    function getManyItemsEncrypted(take, i, total) {
        var startTime = new Date().getTime();

        $('#loading-' + take).text('request ' + (i + 1) + ' of ' + total)
        $('#progress-' + take).show();

        var xhr = $.ajax({
            url: "@Url.Action("GetItemsEncrypted", "SpeedTests")",
            data: { take: take },
            type: "POST",
            //async: false
        }).done(function (result) {

            var elapsed = (new Date().getTime() - startTime);
            EncryptedResultTime[take].push(elapsed);

            //sum
            var sum = 0;
            for (var i = 0; i < EncryptedResultTime[take].length; i++) {
                sum += parseInt(EncryptedResultTime[take][i]); //don't forget to add the base
            }

            var sum = sum / EncryptedResultTime[take].length;

            $('#enc-' + take).children('.time').text('avg: ' + (sum / 1000).toFixed(2) + ' seconds');

            var percent = ((i + 1) / requests) * 100;
            $('#progress-' + take).children('.progress-bar').css('width', percent + '%');

            var data = result.data;
            var processed = DecryptAndDecompress(data, '@CompresJSONSettings.EncryptionKey')
            console.log(JSON.parse(processed));

            $('#enc-' + take).children('pre').text(JSON.stringify(JSON.parse(processed), null, ' '))
            $('#enc-' + take).children('pre.actual').text(JSON.stringify(result), null, ' ')


            var bytes = xhr.getResponseHeader('Content-Length') / 1024;
            $('#enc-' + take).children('.bytes').text('size: ' + bytes.toFixed(2) + 'kb');


            if (currentRequestID < requests - 1) {

                currentRequestID++;
                getManyItemsEncrypted(take, currentRequestID, requests);
            }

            else {
                requestIDs = [];
                requestIsActive = false
                updateRequestingUI();
            }
        });
    }

    var requests = 20;

    var currentRequestID = 0;
    var requestIDs = [];

    function fireUnencrypted(take) {

        if (!requestIsActive) {

            $('.progress').hide();

            currentRequestID = 0
            requestIsActive = true
            updateRequestingUI();
            UnencryptedResultTime[take] = []

            $.when(function () {

                $('#loading-' + take).text('loading')

            }).done(function () {

                for (var i = 0; i < requests; i++) {

                    requestIDs.push(i)

                }

                getManyItemsUnencrypted(take, currentRequestID, requests);
            })
        }
    }

    function fireEncrypted(take) {

        if (!requestIsActive) {

            $('.progress').hide();
            currentRequestID = 0
            requestIsActive = true
            updateRequestingUI();
            EncryptedResultTime[take] = []

            $.when(function () {

                $('#loading-' + take).text('loading')

            }).done(function () {

                for (var i = 0; i < requests; i++) {

                    requestIDs.push(i)
                }

                getManyItemsEncrypted(take, currentRequestID, requests);
            })
        }
    }

    function updateRequestingUI() {

        if (requestIsActive) {

            $('.btn').addClass('disabled');
        }
        else {
            $('.progress').hide();
            $('.progress').children('.progress-bar').css('width', '0%');
            $('.btn').removeClass('disabled');
        }
    }
</script>

<script>
    
    function go() {
        $.ajax({
            url: "@Url.Action("test", "SpeedTests")",
            data: { data : "@CompresJSON.EncryptAndCompressAsNecessary("{\"DateOfBirth\": \"20/09/1991\", \"CustomerID\": 5}")" },
                    type: "POST",
                //async: false
        }).done(function (result) {
            console.log(result);
            var a = Decrypt(result.data + "", '@CompresJSONSettings.EncryptionKey');
            console.log(a)
            var b = Decompress(a);
                        console.log(b);
                    })
            }
        go()

</script>